<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gissningsspelet</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Moment2_MVC.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <h1>Gissningsspelet</h1>
        <nav>
            <!-- Knapp för att visa menyn på mobila enheter, anropar JS-funktion -->
            <button class="menu-toggle" onclick="toggleMenu()">☰</button>
            <ul>
                <!-- Navigeringslänkar med controller och action för routing -->
                <li>
                    <a asp-area="" asp-controller="Site" asp-action="Start">Start</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Site" asp-action="GuessNumber">Spela</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Site" asp-action="Contact">Kontakt</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Huvudinnehåll -->
    <main>
        @RenderBody() <!-- Rendera innehållet -->
        <img src="~/img/questionmark.png" alt="Frågetecken" />
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Isa Westling</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
