<!-- Partial för spelets regler, implementeras på startsida + spelsida -->
<h2>Spelregler</h2>
<ul>
    <li>Gissa ett nummer mellan 1 och 100.</li>
    <li>Du får veta om numret är större eller mindre än din gissning.</li>
    <li>Spelet är klart när du gissat rätt.</li>
</ul>