<!-- Partial för spelets regler, implementeras på startsida + spelsida -->
<ol class="rules">
    <li>1. Gissa ett nummer mellan 1 och 100.</li>
    <li>2. Du får veta om numret är större eller mindre än din gissning.</li>
    <li>3. Spelet är klart när du gissat rätt.</li>
</ol>