@model Moment2_MVC.Models.GuessNumberModel // Använd modellen GuessNumberModel

@{
    ViewData["Title"] = "Spela"; // Titel på sidan
}

<!-- Visa titel -->
<h1>@ViewData["Title"]</h1>

<!-- Visa reglerna för spelet genom partial view -->
<h2>Spelregler</h2>
@await Html.PartialAsync("_Rules")

<!-- Visa meddelande från modellen -->
<p>@Model.Message</p>

<!-- Kontrollera om CanPlayAgain är true -->
@if (Model.CanPlayAgain)
{
    <!-- Visa knappen för att Spela igen -->
    <form method="post" asp-controller="Site" asp-action="PlayAgain">
        <button type="submit">Spela igen</button>
    </form>
}
else
{
    <!-- Formulär för att mata in ny gissning -->
    <form method="post" asp-controller="Site" asp-action="GuessNumber">
        <label for="guess">Nummer</label>
        <input type="number" id="guess" name="Guess" />
        <!-- Visa valideringsmeddelande -->
        <span asp-validation-for="Guess"></span>
        <button type="submit">Gissa</button>
    </form>
}