@model Moment2_MVC.Models.GuessNumberModel // Använd modellen GuessNumberModel

@{
    ViewData["Title"] = "Spela"; // Titel på sidan
}

<section>
    <!-- Visa titel -->
    <h2>@ViewData["Title"]</h2>

    <!-- Visa reglerna för spelet genom partial view -->
    <h3>Spelregler</h3>
    @await Html.PartialAsync("_Rules")

    <div class="game-container">
        <h3>Börja spela</h3>
        <!-- Visa meddelande från modellen -->
        <p class="game-message">@Model.Message</p>

        <!-- Kontrollera om CanPlayAgain är true -->
        @if (Model.CanPlayAgain)
        {
            <!-- Visa knappen för att Spela igen -->
            <form method="post" asp-controller="Site" asp-action="PlayAgain">
                <button type="submit">Spela igen</button>
            </form>
        }
        else
        {
            <!-- Formulär för att mata in ny gissning -->
            <form method="post" asp-controller="Site" asp-action="GuessNumber">
                <div class="form-container">
                    <label for="guess">Nummer</label>
                    <input type="number" id="guess" name="Guess" />
                    <button type="submit" class="button">Gissa</button>
                </div>
                <div class="validation-container">
                    <!-- Visa valideringsmeddelande -->
                    <span asp-validation-for="Guess"></span>
                </div>
            </form>
        }
    </div>
</section>